<div class="ToolBar">
    <div class="SearchBar">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter Name Here" aria-label="Enter Name Here" aria-describedby="basic-addon2"
             [(ngModel)]="this.currentInputContent" (ngSubmit)="this.addCardToParent(currentInputContent)" (keyup.enter)="this.addCardToParent(currentInputContent)">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="this.addCardToParent(currentInputContent)"  type="button">
                <i class="bi bi-plus-circle"></i>
            </button>
            </div>
        </div>
    </div>
</div>
