.ToolBar{
    background-color: #f5cb5c;
    height: 60px;
    padding: 10px;
    background: rgb(139,171,214);
    background: linear-gradient(45deg, rgba(139,171,214,1) 0%, rgba(150,201,208,1) 90%, rgba(69,123,157,1) 90%, rgba(74,144,189,1) 95%, rgba(255,195,10,1) 95%, rgba(255,241,81,1) 100%);}
.SearchBar{
    width: 400px;
}
.form-control{
    background-color: #f1faee;
    border-color: transparent;
}
input, select, textarea{
    color: #1d3557;
}
input, ::placeholder, textarea{
    color: #727272;
}
textarea:focus, input:focus {
    color: #1d3557;
}
.btn{
    background-color: #a8dadc;
}
i{
    color: #1d3557;

}