<div [style.width.px]="width"[style.height.px]="height" class="box" cdkDragBoundary=".boundary" cdkDrag>
 
    <div class="container">
       <div class="row">
          <div class="titleBar">
                <p class= "titleName"> {{Name}} - Name probability by country</p>
                <select [(ngModel)]= "this.graphType"class= "graphSelector" [style.height.px]="30">
                    <option *ngFor="let name of graphEnumKeys" [ngValue]="name"> {{allGraphType[name]}} </option>
                </select>
          </div>
       </div>
      
       <div class="graphArea" >
          <div class="graphContainer" *ngIf="loaded">
             <app-bar-chart *ngIf="this.graphType === allGraphType.Bar" [GraphData]="RespData" [Width]="width-100" [Height]="height-100" class ="BarChart"></app-bar-chart>
             <app-pie-chart *ngIf="this.graphType === allGraphType.Pie" [GraphData]="RespData" [Width]="width-100" [Height]="height-100" class ="BarChart"></app-pie-chart>
          </div>
       </div>
    </div>
    
    <div class="handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
 </div>