
  .box {
    height: 300px;
    box-sizing: border-box;
    border: solid 1px rgb(41, 41, 41);
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    
    background: #f1faee;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .handle {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(31, 31, 31);
    cursor: move;
    width: 24px;
    height: 24px;
  }
.titleBar{
    justify-content: center;
    width: 100%;
    height: 40px;
    background: rgb(139,171,214);
    background: linear-gradient(45deg, rgba(139,171,214,1) 0%, rgba(150,201,208,1) 90%, rgba(69,123,157,1) 90%, rgba(74,144,189,1) 95%, rgba(255,195,10,1) 95%, rgba(255,241,81,1) 100%);
    border-radius: 4px 4px 0px 0px;
    border-bottom: black px solid;
    display: flex;                 
    flex-direction:row;            
    flex-wrap: nowrap;              
    justify-content:space-between 
    
}
.titleName {
  margin-top: 6px;
  margin-left: 5px ;
}
.graphSelector{
  width:100px;
  margin-top: 5px;
  margin-right: 70px;
  background: #f1faee;
  border: none;
  float: right;
  border-radius: 4px 4px 4px 4px;
}
.selectorOption{
  border-radius: 4px 4px 4px 4px;
  background: #f1faee;
}
.graphArea{
  height: 80%;
  margin: 0 auto;
  position: relative;
}
.graphContainer{
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}